<h1><font color = 'green' size = '6'>
<b>
Exercise 1: Loading and Summarizing the Titanic Dataset
</b>
</font>
</h1>

In this exercise, we will read our Titanic dataset into Python and perform a few basic summary operations on it:

1. Open a new Jupyter or colab notebook.

2. Import the **pandas** and **numpy** packages using shorthand notation:

In [1]:
import pandas as pd
import numpy as np

3. Open the **titanic.csv** file.

4. In the notebook cell, execute the following code to load the data from the file:

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Machine Learning (Supervised and Unsupervised))/Supervised Machine Learning/datasets/titanic.csv")

5. Read the first five rows of data using the **head()** method of the DataFrame:

In [5]:
df

,Unnamed: 0,Cabin,Embarked,Fare,Pclass,Ticket,Age,Name,Parch,Sex,SibSp,Survived
0,0,NaN,S,7.2500,3,A/5 21171,22.0,"Braund, Mr. Owen Harris",0,male,1,0.0
1,1,C85,C,71.2833,1,PC 17599,38.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,female,1,1.0
2,2,NaN,S,7.9250,3,STON/O2. 3101282,26.0,"Heikkinen, Miss. Laina",0,female,0,1.0
3,3,C123,S,53.1000,1,113803,35.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,female,1,1.0
4,4,NaN,S,8.0500,3,373450,35.0,"Allen, Mr. William Henry",0,male,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1304,NaN,S,8.0500,3,A.5. 3236,NaN,"Spector, Mr. Woolf",0,male,0,NaN
1305,1305,C105,C,108.9000,1,PC 17758,39.0,"Oliva y Ocana, Dona. Fermina",0,female,0,NaN
1306,1306,NaN,S,7.2500,3,SOTON/O.Q. 3101262,38.5,"Saether, Mr. Simon Sivertsen",0,male,0,NaN
1307,1307,NaN,S,8.0500,3,359309,NaN,"Ware, Mr. Frederick",0,male,0,NaN
1308,1308,NaN,C,22.3583,3,2668,NaN,"Peter, Master. Michael J",1,male,1,NaN

<h1><font color = 'green' size = '6'>
<b>
Exercise 2: Indexing and Selecting Data
</b>
</font>
</h1>

Let's use the selection and indexing methods of the DataFrame to access some data of interest.

1. Select individual columns in a similar way to a regular dictionary by using the labels of the columns, as shown here:

In [6]:
df['Age']

0       22.0
1       38.0
2       26.0
3       35.0
4       35.0
        ...
1304     NaN
1305    39.0
1306    38.5
1307     NaN
1308     NaN
Name: Age, Length: 1309, dtype: float64

If there are no spaces in the column name, we can also use the dot operator. If there are spaces in the column names, we will need to use the bracket notation:

In [7]:
df.Age

0       22.0
1       38.0
2       26.0
3       35.0
4       35.0
        ...
1304     NaN
1305    39.0
1306    38.5
1307     NaN
1308     NaN
Name: Age, Length: 1309, dtype: float64

2. Select multiple columns at once using bracket notation, as shown here:

In [8]:
df[['Name', 'Parch', 'Sex']]

                                                   Name  Parch     Sex
0                               Braund, Mr. Owen Harris      0    male
1     Cumings, Mrs. John Bradley (Florence Briggs Th...      0  female
2                                Heikkinen, Miss. Laina      0  female
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)      0  female
4                              Allen, Mr. William Henry      0    male
...                                                 ...    ...     ...
1304                                 Spector, Mr. Woolf      0    male
1305                       Oliva y Ocana, Dona. Fermina      0  female
1306                       Saether, Mr. Simon Sivertsen      0    male
1307                                Ware, Mr. Frederick      0    male
1308                           Peter, Master. Michael J      1    male

[1309 rows x 3 columns]

3. Select the first row using **iloc**:

In [9]:
df.iloc[0]

Unnamed: 0                          0
Cabin                             NaN
Embarked                            S
Fare                             7.25
Pclass                              3
Ticket                      A/5 21171
Age                              22.0
Name          Braund, Mr. Owen Harris
Parch                               0
Sex                              male
SibSp                               1
Survived                          0.0
Name: 0, dtype: object

4. Select the first three rows using **iloc**:

In [10]:
df.iloc[[0, 1, 2]]

,Unnamed: 0,Cabin,Embarked,Fare,Pclass,Ticket,Age,Name,Parch,Sex,SibSp,Survived
0,0,NaN,S,7.2500,3,A/5 21171,22.0,"Braund, Mr. Owen Harris",0,male,1,0.0
1,1,C85,C,71.2833,1,PC 17599,38.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,female,1,1.0
2,2,NaN,S,7.9250,3,STON/O2. 3101282,26.0,"Heikkinen, Miss. Laina",0,female,0,1.0

5. Next, get a list of all of the available columns:

In [11]:
columns = df.columns
print(columns)

Index(['Unnamed: 0', 'Cabin', 'Embarked', 'Fare', 'Pclass', 'Ticket', 'Age',
       'Name', 'Parch', 'Sex', 'SibSp', 'Survived'],
      dtype='object')

6. Use this list of columns and the standard Python slicing syntax to get columns 2, 3, and 4, and their corresponding values:

In [12]:
df[columns[1:4]] # Columns 2, 3, 4

     Cabin Embarked      Fare
0      NaN        S    7.2500
1      C85        C   71.2833
2      NaN        S    7.9250
3     C123        S   53.1000
4      NaN        S    8.0500
...    ...      ...       ...
1304   NaN        S    8.0500
1305  C105        C  108.9000
1306   NaN        S    7.2500
1307   NaN        S    8.0500
1308   NaN        C   22.3583

[1309 rows x 3 columns]

7. Use the **len** operator to get the number of rows in the DataFrame:

In [13]:
len(df)

1309

8. Get the value for the **Fare** column in row 2 using the row-centric method:

In [14]:
df.iloc[2]['Fare'] # Row centric

7.925

9. Use the dot operator for the column, as follows:

In [15]:
df.iloc[2].Fare # Row centric

7.925

10. Use the column-centric method, as follows:

In [16]:
df['Fare'][2]  # Column centric

7.925

11. Use the column-centric method with the dot operator, as follows:

In [17]:
df.Fare[2]  # Column centric

7.925

<h1><font color = 'green' size = '6'>
<b>
Exercise 3: Advanced Indexing and Selection
</b>
</font>
</h1>

. In this exercise, we will look at a few important methods for performing advanced indexing and selecting data.

1. Create a list of the passengers' names and ages for those passengers under the age of 21, as shown here:

In [18]:
child_passengers = df[df.Age < 21][['Name', 'Age']]
child_passengers

                                                Name   Age
7                     Palsson, Master. Gosta Leonard   2.0
9                Nasser, Mrs. Nicholas (Adele Achem)  14.0
10                   Sandstrom, Miss. Marguerite Rut   4.0
12                    Saundercock, Mr. William Henry  20.0
14              Vestrom, Miss. Hulda Amanda Adolfina  14.0
...                                              ...   ...
1283                   Abbott, Master. Eugene Joseph  13.0
1286  Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  18.0
1294                          Carrau, Mr. Jose Pedro  17.0
1296    Nourney, Mr. Alfred (Baron von Drachstedt")"  20.0
1300                       Peacock, Miss. Treasteall   3.0

[249 rows x 2 columns]

2. Count how many child passengers there were, as shown here:

In [19]:
print(len(child_passengers))

249

3. Count how many passengers were between the ages of 21 and 30. Do this as follows:

In [20]:
young_adult_passengers = df.loc[(df.Age > 21) & (df.Age < 30)]
len(young_adult_passengers)

279

4. Find the passengers who were either first- or third-class ticket holders. Do this as follows:

In [21]:
df.loc[(df.Pclass == 1) | (df.Pclass == 3)]

,Unnamed: 0,Cabin,Embarked,Fare,Pclass,Ticket,Age,Name,Parch,Sex,SibSp,Survived
0,0,NaN,S,7.2500,3,A/5 21171,22.0,"Braund, Mr. Owen Harris",0,male,1,0.0
1,1,C85,C,71.2833,1,PC 17599,38.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,female,1,1.0
2,2,NaN,S,7.9250,3,STON/O2. 3101282,26.0,"Heikkinen, Miss. Laina",0,female,0,1.0
3,3,C123,S,53.1000,1,113803,35.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,female,1,1.0
4,4,NaN,S,8.0500,3,373450,35.0,"Allen, Mr. William Henry",0,male,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1304,NaN,S,8.0500,3,A.5. 3236,NaN,"Spector, Mr. Woolf",0,male,0,NaN
1305,1305,C105,C,108.9000,1,PC 17758,39.0,"Oliva y Ocana, Dona. Fermina",0,female,0,NaN
1306,1306,NaN,S,7.2500,3,SOTON/O.Q. 3101262,38.5,"Saether, Mr. Simon Sivertsen",0,male,0,NaN
1307,1307,NaN,S,8.0500,3,359309,NaN,"Ware, Mr. Frederick",0,male,0,NaN
1308,1308,NaN,C,22.3583,3,2668,NaN,"Peter, Master. Michael J",1,male,1,NaN

5. Find the passengers who were not holders of either first- or third-class tickets.

In [22]:
df.loc[~((df.Pclass == 1) | (df.Pclass == 3))]

,Unnamed: 0,Cabin,Embarked,Fare,Pclass,Ticket,Age,Name,Parch,Sex,SibSp,Survived
9,9,NaN,C,30.0708,2,237736,14.0,"Nasser, Mrs. Nicholas (Adele Achem)",0,female,1,1.0
15,15,NaN,S,16.0000,2,248706,55.0,"Hewlett, Mrs. (Mary D Kingcome)",0,female,0,1.0
17,17,NaN,S,13.0000,2,244373,NaN,"Williams, Mr. Charles Eugene",0,male,0,1.0
20,20,NaN,S,26.0000,2,239865,35.0,"Fynney, Mr. Joseph J",0,male,0,0.0
21,21,D56,S,13.0000,2,248698,34.0,"Beesley, Mr. Lawrence",0,male,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1278,1278,NaN,S,13.0000,2,244346,57.0,"Ashby, Mr. John",0,male,0,NaN
1284,1284,NaN,S,10.5000,2,C.A. 30769,47.0,"Gilbert, Mr. William",0,male,0,NaN
1292,1292,NaN,S,21.0000,2,28664,38.0,"Gale, Mr. Harry",0,male,1,NaN
1296,1296,D38,C,13.8625,2,SC/PARIS 2166,20.0,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,male,0,NaN
1297,1297,NaN,S,10.5000,2,28666,23.0,"Ware, Mr. William Jeffery",0,male,1,NaN

6. We no longer need the **Unnamed: 0** column, so delete it using the **del** operator:

In [23]:
del df['Unnamed: 0']
df.head()

,Cabin,Embarked,Fare,Pclass,Ticket,Age,Name,Parch,Sex,SibSp,Survived
0,NaN,S,7.2500,3,A/5 21171,22.0,"Braund, Mr. Owen Harris",0,male,1,0.0
1,C85,C,71.2833,1,PC 17599,38.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,female,1,1.0
2,NaN,S,7.9250,3,STON/O2. 3101282,26.0,"Heikkinen, Miss. Laina",0,female,0,1.0
3,C123,S,53.1000,1,113803,35.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,female,1,1.0
4,NaN,S,8.0500,3,373450,35.0,"Allen, Mr. William Henry",0,male,0,0.0